@charset "UTF-8";

.animatedNicely {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.foo.bar {
	display: none;
}

.so .hot {
	position: absolute;
}

h1.nice {
	color: red;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

.something.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.fa-icon .fa-anchor {
	color: blue;
}